@import 'Main';

.banner{
    width:100%;
    height: 350px;

    @media screen and (max-width: 600px)
    {
        height: 200px;
                
    }

    background-image: url(https://images.unsplash.com/photo-1490131784822-b4626a8ec96a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;

    background-position: bottom;

    //padding: 40px;
    //display: none;

    .cover{
        width: 100%;
        height: 350px;
        @media screen and (max-width: 600px)
        {
            height: 200px;
                
        }

        background: rgba(0,0,0,.3);
    }
}

.main-header{

    .header-container{
        padding: 40px;

        .left-header{
            float: left;

            h3{

                a{
                    color: white;
                    font-weight: 400;

                    text-decoration: none;
                }
            }
        }

        .right-header{
            float: right;

            @media screen and (max-width: 600px)
            {
                display: none;

            }

            ul{
                padding-top: 6px;

                li{
                    display: inline;
                    margin-left: 15px;

                    a{
                        color: white;
                        font-weight: 400;

                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Stages
.stageOne{
    padding: 40px;

    .stageHead{

        h1{
             font-size: .7em;
             font-weight: 300;
         }
     }

    .innerStage{
        padding-top: 30px;

        .profileImage{
            display: none;
            padding-bottom: 50px;

            position: relative;
            top: -200px;

            margin-bottom: -200px;

            img{
                width: 150px;
                border-radius: 2px;
            }
        }

        .mobile{
            padding-bottom: 20px;

            @media screen and (min-width: 700px){
                display: none;
            }

            h3{
                text-align: left;
                font-weight: 400;
                font-size: 2.5em;

                color: #333;
            }
        }

        .desktop{
            padding-bottom: 20px;

            @media screen and (max-width: 700px){
                display: none;
            }

            h3{
                text-align: left;
                font-weight: 400;
                font-size: 2.5em;

                color: #333;
            }
        }

        h3{
            font-weight: 300;
            font-size: 2em;

            @media screen and (max-width: 500px){
                font-size: 1.2em;
                font-weight: 500;
            }
        }

        h4{
            padding-top: 15px;

            a{
                font-size: 1.4em;
                color: #333;

                margin-right: 20px;
            }
        }
    }
}

.stageTwo{
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 100px;

    @media screen and (max-width: 500px){
        padding-bottom: 50px;
    }

    @media screen and (max-width: 500px){
        border-top: 1px solid #eee;
    }

    .stageHead{

        h1{
             font-size: 1em;
             font-weight:500;
             color: #333;
         }
     }

    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 300;
            font-size: 1.3em;

            @media screen and (max-width: 500px){
                font-size: 1em;
            }
            
            line-height: 1.4em;

            a{
                color: #333;
                text-decoration: underline;

                font-weight: 500;
            }

        }

        h3.right{
            text-align: right;
            font-weight: 500;

            @media screen and (max-width: 500px){
                text-align: left;
            }
        }
    }
}

.stageThree{
    padding: 40px;
    background: #eee;

    .stageHead{

        h1{
             font-size: 1em;
             font-weight:500;
             color: #333;
         }
     }

    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 300;
            font-size: 1.3em;
            
            line-height: 1.4em;

            a{
                color: #333;
                text-decoration: underline;

                font-weight: 500;
            }

        }

        h3.right{
            text-align: right;
            font-weight: 500;
        }

        .row{

            .table{
                padding-top: 30px;

                h4{
                    font-size: .9em;
                    font-weight: 500;

                    color: #AAB2BD;

                }

                ul{
                    padding: 0px;

                    li{
                        list-style: none;
                    }
                }

                h3{
                    font-size: 1em;
                }
            }
        }
    }
}

.stageFour{
    padding: 40px;
    //background: #E2E2E2;

    .stageHead{

        h1{
             font-size: 1em;
             font-weight:500;
             color: #333;
         }
     }

    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 300;
            font-size: 1.3em;
            
            line-height: 1.4em;

            a{
                color: #333;
                text-decoration: underline;

                font-weight: 500;
            }

        }

        h3.right{
            text-align: right;
            font-weight: 500;
        }

        .row{

            .table{
                padding-top: 30px;

                h4{
                    font-size: .9em;
                    font-weight: 500;

                    color: #AAB2BD;

                    a{
                        color: #AAB2BD;
                    }

                }

                span{

                    span{
                        padding-top: 20px;
                        font-size: .8em;
                        color: #aaa;
                    }
                }

                ul{
                    padding: 0px;

                    li{
                        list-style: none;
                    }
                }

                h3{
                    font-size: 1em;
                }
            }
        }
    }
}

.stageFifth{
    padding: 40px;
    //background: #E2E2E2;

    .stageHead{

        h1{
             font-size: 1em;
             font-weight:500;
             color: #333;
         }
     }

    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 300;
            font-size: 1.3em;
            
            line-height: 1.4em;

            a{
                color: #333;
                text-decoration: underline;

                font-weight: 500;
            }

        }

        h3.right{
            text-align: right;
            font-weight: 500;
        }

        .row{

            .table{
                padding-top: 30px;

                h4{
                    font-size: .9em;
                    font-weight: 500;

                    color: #AAB2BD;

                    a{
                        color: #AAB2BD;
                    }

                }

                span{

                    span{
                        padding-top: 20px;
                        font-size: .8em;
                        color: #aaa;
                    }
                }

                ul{
                    padding: 0px;

                    li{
                        list-style: none;
                    }
                }

                h3{
                    font-size: 1em;
                }
            }
        }
    }
}

.stageSix {
    padding: 40px;
    background: #eee;

    .stageHead{

        h1{
             font-size: 1em;
             font-weight:500;
             color: #333;
         }
     }

    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 300;
            font-size: 1.3em;
            
            line-height: 1.4em;

            a{
                color: #333;
                text-decoration: underline;

                font-weight: 500;
            }

        }

        .contacts{
            border-top: 1px solid rgba(0,0,0,.2);
            padding-top: 15px;
            margin-top: 15px;

            text-align: left;

            a{
                color: #333;

                display: inline-block;

                i{
                    padding-right: 15px;
                }
            }

            a:hover{
        
            }
        }
    }
}

.stageSeven {
    padding: 40px;
    background: #333;

    
    .innerStage{
        padding-top: 10px;

        h3{
            font-weight: 500;
            font-size: 1.0em;
            
            line-height: 1.4em;

            text-align: center;
            color: white;

            a{
                color: white;
                text-decoration: underline;

                font-weight: 500;
            }

        }
    }
}