*{
    font-family: 'Montserrat';
}

// Core Website
.website{

    // Header

    .innerWebsite{

        // Sidebar
        .sidebarParent{
            @media screen and (max-width: 500px){
                display: none;
            }

            width: 200px;
            height: 100%;

            display: none;

            float: left;

            position: fixed;

            //background:#f5f5f5;
            background-image: url(https://images.unsplash.com/photo-1449867727329-3294ea016353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
            background-size: cover;

            .innerSidebar{
                height: 100%;
                width: 200px;

                background: rgba(0,0,0,.4);

                .topHead{
                    padding-left: 40px;

                    .innerTopHead{
                        padding: 30px;

                        padding-top:70px;
                        padding-left: 0px;

                        border-bottom: 1px solid white;

                        h3{
                            text-align: left;
                            font-weight: 400;
                            font-size: 2.5em;

                            color: white;
                        }
                    }
                }

                .middleNavigation{

                    .innerNavigation{
                        margin-top: 60px;

                        ul{

                            li{
                                list-style-type: none;
                                padding-bottom: 15px;

                                a{
                                    color: #fff;
                                    text-decoration: none;

                                    font-weight: 500;
                                }
                                a:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .footerBottom{
                    position: absolute;
                    bottom: 20px;

                    span{
                        padding: 30px;
                        color: #fff;
                    }
                }
            }
        }

        // Website Content
        .websiteParent{
            width: 100%;
            //margin-left: 200px;

            @media screen and (max-width: 500px){
                margin-left: 0px;
            }

            //padding: 40px;
        }
    }
    
    // Footer

}